---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">

    <!-- <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
        {% if page.author %}
          • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}</p>
    </header> -->

    <div itemprop="articleBody">
        {{ content }}
    </div>

    {% if page.thanks %}
    <div class="thanks">
        Thanks for proofreading and improvements:
        <ul>
            {% for ref in page.thanks %}
                {% assign person = site.people | where: "ref", ref | first %}

                <li>
                    {% if person.website %}
                        <a href="{{ person.website }}">
                            {{ person.fullName }}
                        </a>
                    {% else %}
                        {{ person.fullName }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
    {% endif %}
</article>
